.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  gap: 2px;

  input {
    padding: 10px;
  }

  .group {
    display: flex;
    padding: 10px 0;
    gap: 10px;
  }

  button {
    min-width: 100px;
    padding: 10px;
    border: 0 solid transparent;
    border-radius: 5px;
    background: var(--red-200);
    color: var(--gray-100);
  }

  button:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    background: var(--red-500);
  }

  button:active {
    background: var(--red-700);
  }

  .error {
    background: var(--red-200);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
  }

  .small-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 0 solid transparent;
    border-radius: 5px;
    background: var(--gray-700);
    color: var(--gray-100);
  }

  .formula {
    h3 {
      font-weight: 400;
      margin: 0;
      font-size: 0.7rem;
    }

    min-height: 40px;
    background: var(--gray-100);
    border-radius: 5px;
    padding: 10px;
  }

  .formula:hover {
    transition-duration: 0.2s;
    -webkit-box-shadow: 3.5px 4.5px 1.5px 0 var(--gray-300);
    -moz-box-shadow: 3.5px 4.5px 1.5px 0 var(--gray-300);
    box-shadow: 3.5px 4.5px 1.5px 0 var(--gray-300);
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
